<div class="container">
  <p>Get audio features for a specified track. Utilizes the Spotify Web API. </p>
  <form action="/audiofeatures" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="searchQuery" placeholder="Enter Song Title" required>
      <input type="hidden" name="grant_type" value="client_credentials">
    </div>
    <button class="btn btn-primary" type="submit">Analyze</button>
  </form>
</div>
