<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>

<p>Author: {{author}}</p>

<form class="" action="/search" method="post">
  <input type="text" name="trackName" placeholder="Enter Track Name">
  <input type="hidden" name="grant_type" value="client_credentials">
  <input type="submit" value="Analyze">
</form>
